*{
     font-family: 'Times New Roman', Times, serif;;
}
body{
    background:rgb(38, 38, 72);
}
.contentBox{
    display:flex;
    flex-direction: column;   
}
.section2{
    display: flex;
    flex-direction: column;
    margin-left:3rem;
    color:white;
    width: 50%;
}
.subSection1{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    /* background-image: url(../images/img1.jpg); */
    /* object-fit:contain; */
}
.subSection1 img{
    width: 200px;
    height: 200px;
}
.subSection2{
    flex-flow: 1;
}
.carousel-inner img{
    object-fit: cover;
}
.exp{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color:#4D55CC;
    color:beige;
    font-size: 18px;

}
embed,iframe{
    height: 100px;
    overflow: hidden;
    
}
.navParent1{
    padding-top: .7rem;
}
.navBar{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(38, 38, 72);
    display: flex;
    flex-direction: column;
}
.navParent1,.navParent2{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.navList{
    position: relative;
    transition-property: all;
    transition-duration: 1s;
}
.navList:hover{
    background-color: white;
    color: rgb(38, 38, 72);
    font-size: 1.1rem;
    border-radius: 4px;
    padding:0.3rem;
}
.navSub{
    position: absolute;
    visibility: hidden;
    width: 300px;
    /* height: 150px; */
    background-color: white;
    border-radius: 0.4rem;
}
.navList:hover .navSub{
    visibility: visible;
}
.navSub>ul{
    list-style-type: none;
}
.navSub>ul>li{
    padding: 0.2rem;
}
.navSub>ul>li a{
    text-decoration: none;
    color:navy;
}