
*{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
html, body {
    /* overflow-x: hidden; */
    width: 100%;
}
body{
    background:rgb(38, 38, 72);
}
/* main{ */
    /* position: relative; */
    /* min-height: 100vh; Ensures enough height for sticky to work */
    /* overflow: visible; */ 
/* } */
.contentBox{
    display:flex;
    flex-direction: column;   
}
/* .section2{
    display: flex;
    flex-direction: column;
    margin-left:3rem;
    color:white;
    width: 50%;
} */
.subSection1{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    /* background-image: url(../images/img1.jpg); */
    /* object-fit:contain; */
}
.subSection1 img{
    width: 200px;
    height: 200px;
}
.subSection2{
    flex-flow: 1;
}

.exp{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color:#4D55CC;
    color:beige;
    font-size: 18px;

}
embed,iframe{
    height: 100px;
    overflow: hidden;
    
}
.navParent1{
    padding-top: .7rem;
}
.navBar{
    position: sticky;
    top: 0;

    /* position: fixed;
    top: 0;
    left:0; */
    width: 100%;
    color: white;
    background-color: rgb(38, 38, 72);
    display: flex;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.navParent1,.navParent2{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.navList,.navList1{
    position: relative;
    display: inline-block;
    transition-property: all;
    transition-duration: 1s;
}
.navList:hover,.navList1:hover{
    background-color: white;
    color: rgb(38, 38, 72);
    font-size: 1.1rem;
    border-radius: 4px;
    padding:0.3rem;
}
.navSub{
    display: none;
    position: absolute;
    /* visibility: hidden; /* This occupies space in the view port even if it is hidden*/  
    width: 300px;
    background-color:  rgb(38, 38, 72);
    color: white;
    border-radius: 0.4rem;
}
/* All elements in the nav bar */
.navList:hover .navSub{
    display: block;
    /* right: 0; */
}
/* This is for right most element in the navbar  */
.navList1:hover .navSub{
    display: block;
    right: 0;
}
.navSub>ul{
    list-style-type: none;
}
/* .navSub>ul>li{
    padding: 0.1rem;
} */
.navSub>ul>li a{
    text-decoration: none;
    color:white;
}
input,textarea,select{
    border-radius: 1rem;
    /* padding: .1em;
    margin: 1rem;    */
    border: 0 ;
}
input::placeholder,textarea::placeholder{
    color:rgb(35, 35, 105); 
}

.navSub>ul>li{
    transition-property: all;
    transition-duration: 1s;
}
.navSub>ul>li:hover{
    background-color: rgb(116, 116, 154);
}